

<p>
  <%= render @post.categories %> 
</p>
  <% if logged_in? %>
    <% if @same_user %>
    <%=link_to 'Edit your post?', edit_post_path(@post), class: "btn btn-danger btn-small pull-right", style: "font-weight:bold;"%>
    <%end%>  
  <%end%>
<% title = (render 'shared/content_title', title: @post.title).html_safe %> 
<%= link_to title, fix_url(@post.url), target: '_blank', help: "External Link to post url" %>  
</p>
<p>
  <%=@post.description %>
</p>
<hr/> 

<% if logged_in? %>
  <%= bootstrap_form_for([@post, @comment]) do |f| %>
  <%= render 'shared/errors', object: @comment %>
    <%= f.text_area :body, label: 'Add a Comment', rows: 3, class: 'span8' %>
    <%= f.submit 'Create comment', class: "btn btn-small btn-primary" %>
  <% end %>
<% end %>

<% if @post.comments.size == 0 %>
  <h5 style="color:purple;">This post has no comments yet. Be the first to comment!</h5>
<% else %>
  <h5>Comments:</h5>
  <% @post.reload.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
<% end %>
<br/>


<div class="container">
  <div style="position:absolute;"> 
    <div class="row">
      <div class="col-lg-12">
  <%= link_to 'Back', posts_path, class: "btn btn-primary btn-small" %>
     </div>
    </div>
  </div>  
</div>